{% extends 'instagrams/base.html' %}
{% load cloudinary %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <img class="pr-5" src="{{ user.profile.profile_photo.url }}" alt="image" style="width: 300px;">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                            <div class="account-heading"><span
                                    class="mr-3 text-secondary username">{{ user.username }}</span>
                                <a class="btn btn-sm btn-outline-secondary mr-3" data-toggle="modal"
                                    data-target=".bd-example-modal-md"><strong>Edit Profile</strong></a>
                                <a class="mt-3" data-toggle="modal" data-target="#ModalCenter"><i class="fa fa-cog mt-3"
                                        id="cog"></i></a>
                            </div>


                            <h5>{{ user.profile.name }}</h5>
                            <h5 class="text-secondary">{{images|length}} posts</h5>
                            <p class="text-secondary">{{ user.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="{%url 'profile' user.username %}" method="post" enctype="multipart/form-data"
                        class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ user_form}}
                        {{ profile_form}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid">
    <h3 class="text-center" style="text-decoration: underline;">{{user.username }}'s Posted Images.</h3>
    <div class="row">

        {% for image in images %}
        <div class="col-sm-4 col-md-3 mt-5">
            <img src="{{image.image.url}}" alt="" style="width: 300px;">

            <p>Caption:{{image.caption}}</p>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}