{% extends 'instagrams/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <img src="{{ user_form.profile.profile_photo.url }}" style="width: 300px;">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                            <div class="account-heading">
                                <span class="ml-5">Name:{{ user_form.username }}</span>



                            </div>
                            <div class="account-heading">
                                <span class="ml-5">Bio:{{user_form.profile.bio}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}