{% extends 'instagrams/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                <h6 class="card-subtitle mb-2 ">{{user.profile.name}}</h6>
                <p class="card-text">{{user.profile.bio}}.</p>
                <img src="{{user.profile.profile_photo.url}}" alt="">

            </div>
        </div>
    </div>
</div>

{% endblock %}